# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE & Editor settings
.idea/
.vscode/
*.swp
*.swo

# Temporary / archive files
*.zip

# Operating System Files
.DS_Store
Thumbs.db
